<link rel="stylesheet" type="text/css"
href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
  <div class="ui stackable menu block">
    <a routerLink='/' class="item">
        <img style="width:7em" src="/assets/images/pramata_logo.png">
    </a>
    <a class="item" routerLink="/customers">Customers</a>
    <a class="item" routerLink="/analytics">Analytics</a>
    <a class="item">
      <div class="ui search searchAll fluid">
        <div class="ui action input">
         <input type="text" size="100" class="searchInput prompt" 
         placeholder="Search across your customer relationships"
         style="border-radius: 0rem">
          <button class="ui icon button searchButton">
            <i class="search icon"></i>
          </button>  
        </div>
        <div class="results"></div>
      </div>
    </a>    
    <a class="item">
      <i class="sign out icon large"></i> Logout
    </a>
  </div>
<div class="ui basic segment">
  <router-outlet></router-outlet>  
</div>
