<div>
  <h1 class="ui header">
    {{customer.attributes.primary_name}}
    <div class="sub header">Customer</div>
  </h1>      
  <div class="ui horizontal segments">
    <div class="ui segment blue">
      <div class="ui sub header">
        Customer Name
      </div>
     {{customer.attributes.primary_name}}
    </div>
    <div class="ui segment blue">
      <div class="ui sub header">          
        SAP Account Number
      </div>
     {{customer.attributes.SAP_Account_Number}}
    </div>
    <div class="ui segment blue">
      <div class="ui sub header">          
        Account Name
      </div>
     {{customer.attributes.Account_Name}} 
    </div>
  </div>
</div>