<div id="customers-component">
  <h1>My Customers</h1>
  <div>
    <div *ngFor="let customer of customers " class="customers" >
        <div class="ui segment attached">
          <a class="item" routerLink="/customers/{{customer.data.id}}">
            {{customer.data.attributes.primary_name}}
          </a>
        </div>
    </div>
  </div>
</div>